In [62]:
import pandas as pd
import numpy as np
import math
from numpy import nan

In [2]:
anova_data = pd.read_csv("Database_AllParticipants.csv")

In [7]:
anova_data

,info_sheet_loop.thisIndex,expName,file_name,textbox.text,genderResp2.text,__participant,spacebar_continue.rt,spacebar_continue_3.keys,sentence,q5_slider.response,...,instructions_loop.thisTrialN,slider.rt,question,file_path,ageResp.text,total_duration,__experimentName,consent_loop.thisN,trials.thisTrialN,instructions_loop.thisRepN
0,﻿,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
1,﻿0,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
2,﻿0,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
3,﻿0,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
4,﻿0,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3448,﻿,BZ,5cn,NaN,NaN,PARTICIPANT,0.369,NaN,This map shows the levels of a certain type of...,NaN,...,NaN,1.621,How severe do you think the environmental poll...,images/pointed_maps_images/5cn.jpeg,NaN,NaN,3rd_year_experiment,NaN,79.0,NaN
3449,﻿,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
3450,﻿,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,"[""space""]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN
3451,﻿,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,692.442,3rd_year_experiment,NaN,NaN,NaN
3452,﻿,BZ,NaN,NaN,NaN,PARTICIPANT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3rd_year_experiment,NaN,NaN,NaN

In [4]:
anova_data.describe()

,spacebar_continue.rt,q5_slider.response,mouse_3.x,genderResp1.response,info_sheet_loop.thisRepN,arrow_posx,consent_loop.thisTrialN,mouse_3.leftButton,q4_slider.response,trials.thisN,...,triangle_pos,granularity,genderResp1.rt,instructions_loop.thisTrialN,slider.rt,ageResp.text,total_duration,consent_loop.thisN,trials.thisTrialN,instructions_loop.thisRepN
count,2560.000000,32.000000,32.000000,32.000000,189.000000,256.000000,192.00000,32.0,32.000000,2560.000000,...,256.000000,2560.0,32.000000,256.000000,2560.000000,32.00000,32.000000,192.00000,2560.000000,256.0
mean,1.373692,4.437500,0.011213,4.625000,10.767196,2.192500,2.50000,1.0,4.093750,39.500000,...,6.250000,0.0,16.234366,3.500000,5.331628,85.18750,1040.222617,2.50000,39.500000,0.0
std,3.096625,1.014015,0.024545,0.491869,15.683328,4.517812,1.71229,0.0,0.995453,23.096718,...,4.850971,0.0,18.880098,2.295776,11.955604,349.63109,715.079621,1.71229,23.096718,0.0
min,0.000500,2.000000,-0.050987,4.000000,0.000000,-0.550000,0.00000,1.0,2.000000,0.000000,...,-0.100000,0.0,3.955800,0.000000,0.477000,19.00000,316.412800,0.00000,0.000000,0.0
25%,0.218625,4.000000,-0.008980,4.000000,1.000000,-0.470000,1.00000,1.0,3.000000,19.750000,...,0.075000,0.0,8.552325,1.750000,2.028600,20.00000,660.303425,1.00000,19.750000,0.0
50%,0.451150,5.000000,0.013264,5.000000,3.000000,-0.345000,2.50000,1.0,4.000000,39.500000,...,10.000000,0.0,10.619810,3.500000,2.963313,21.00000,842.082275,2.50000,39.500000,0.0
75%,1.353000,5.000000,0.032734,5.000000,11.000000,2.320000,4.00000,1.0,5.000000,59.250000,...,10.000000,0.0,13.830350,5.250000,4.882675,25.00000,1144.226775,4.00000,59.250000,0.0
max,48.925200,6.000000,0.050000,5.000000,58.000000,10.000000,5.00000,1.0,6.000000,79.000000,...,10.000000,0.0,103.155600,7.000000,270.978700,2001.00000,3535.386400,5.00000,79.000000,0.0

In [38]:
df = anova_data[['participant', 'file_name', 'slider.response', 'slider.rt', 'spacebar_continue.rt', 'scale_slider.response']]

In [39]:
df

,participant,file_name,slider.response,slider.rt,spacebar_continue.rt,scale_slider.response
0,test,NaN,NaN,NaN,NaN,NaN
1,test,NaN,NaN,NaN,NaN,NaN
2,test,NaN,NaN,NaN,NaN,NaN
3,test,NaN,NaN,NaN,NaN,NaN
4,test,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
3448,18,5cn,1.768889,1.621,0.369,NaN
3449,18,NaN,NaN,NaN,NaN,2.0
3450,18,NaN,NaN,NaN,NaN,NaN
3451,18,NaN,NaN,NaN,NaN,NaN
3452,18,NaN,NaN,NaN,NaN,NaN

In [40]:
participant = df['participant'].unique()

In [41]:
participant

array(['test', '01', '03', '11', '07', '19', '28', '23', '13', '05', '08',
       '06', '09', '20', '14', '04', '21', '16', '24', '15', '12', '31',
       '02', '22', '26', '10', '27', '25', '32', '34', '18'], dtype=object)

In [42]:
participant_label = np.ndarray.tolist(participant)
participant_label.remove("test")

In [43]:
participant_label

['01',
 '03',
 '11',
 '07',
 '19',
 '28',
 '23',
 '13',
 '05',
 '08',
 '06',
 '09',
 '20',
 '14',
 '04',
 '21',
 '16',
 '24',
 '15',
 '12',
 '31',
 '02',
 '22',
 '26',
 '10',
 '27',
 '25',
 '32',
 '34',
 '18']

## Gender

In [205]:
gender_list = []
for label in participant_label:
    df_gender = anova_data["genderResp1.response"].loc[anova_data["participant"] == label]
    gender_list.append(df_gender.dropna().unique()[0])
    
set(gender_list)
female_count = gender_list.count(5.0)
male_count = gender_list.count(4.0)
print(female_count, male_count)
print(female_count/len(gender_list), male_count/len(gender_list))

18 12
0.6 0.4

## Age

In [199]:
age_list = []
for label in participant_label:
    df_age = anova_data["ageResp.text"].loc[anova_data["participant"] == label]
    age_list.append(list(df_age.dropna())[0])

age_list.remove(2001) #outlier

age_mean = np.mean(age_list)
age_std = np.std(age_list)
age_mean, age_std

(23.103448275862068, 4.603932558796371)

## Education

In [206]:
edu_list = []
for label in participant_label:
    df_edu = anova_data["edu_slider.response"].loc[anova_data["participant"] == label]
    edu_list.append(list(df_edu.dropna())[0])

set(edu_list)
doc_count = edu_list.count(2.0)
msc_count = edu_list.count(3.0)
bsc_count = edu_list.count(4.0)
high_count = edu_list.count(6.0)

print(doc_count, msc_count, bsc_count, high_count)
print(doc_count/len(edu_list), msc_count/len(edu_list), bsc_count/len(edu_list), high_count/len(edu_list))

1 7 12 10
0.03333333333333333 0.23333333333333334 0.4 0.3333333333333333

In [72]:
df_01 = df.loc[df['participant'] == '01']
df_01_ratings = df_01[['file_name', 'slider.response', 'slider.rt', 'spacebar_continue.rt']]
df_01_ratings = df_01_ratings.dropna()
df_01_ratings

    file_name  slider.response  slider.rt  spacebar_continue.rt
130      19cs         1.000000    14.5795                3.1432
131      14in         1.524430     5.7077                1.6495
132       6cn         1.572931    12.6857                0.9757
133       2is         1.808135     5.1983                0.6715
134       3cn         1.869872     6.9796                0.5368
..        ...              ...        ...                   ...
205      14cs         1.374411     3.0201                0.5590
206       2cs         1.995024     3.5305                0.5303
207       8in         1.365398     3.1182                0.4048
208       4is         1.887723     3.1949                0.4666
209      12is         1.142174     3.5021                0.5457

[80 rows x 4 columns]

In [73]:
df_01_ratings['rating_rt'] = df_01_ratings['slider.rt'] + df_01_ratings['slider.rt']

    file_name  slider.response  slider.rt  spacebar_continue.rt  rating_rt
130      19cs         1.000000    14.5795                3.1432    29.1590
131      14in         1.524430     5.7077                1.6495    11.4154
132       6cn         1.572931    12.6857                0.9757    25.3714
133       2is         1.808135     5.1983                0.6715    10.3966
134       3cn         1.869872     6.9796                0.5368    13.9592
..        ...              ...        ...                   ...        ...
205      14cs         1.374411     3.0201                0.5590     6.0402
206       2cs         1.995024     3.5305                0.5303     7.0610
207       8in         1.365398     3.1182                0.4048     6.2364
208       4is         1.887723     3.1949                0.4666     6.3898
209      12is         1.142174     3.5021                0.5457     7.0042

[80 rows x 5 columns]

In [76]:
df_01_ratings = df_01_ratings.drop(['slider.rt', 'spacebar_continue.rt'], axis=1)
df_01_ratings.unique()

    file_name  slider.response  rating_rt
130      19cs         1.000000    29.1590
131      14in         1.524430    11.4154
132       6cn         1.572931    25.3714
133       2is         1.808135    10.3966
134       3cn         1.869872    13.9592
..        ...              ...        ...
205      14cs         1.374411     6.0402
206       2cs         1.995024     7.0610
207       8in         1.365398     6.2364
208       4is         1.887723     6.3898
209      12is         1.142174     7.0042

[80 rows x 3 columns]

In [134]:
import re
# df_01_red = df_01_ratings.loc[df_01_ratings['file_name'] == r'[0-9]']
df_01_red = df_01_ratings[df_01_ratings['file_name'].str.match(r'([1-9]|1[0])[ci][sn]$')== True]
df_01_red

    file_name  slider.response  rating_rt
132       6cn         1.572931    25.3714
133       2is         1.808135    10.3966
134       3cn         1.869872    13.9592
136       2in         1.299526    10.9136
137       1in         1.004932     4.7022
138       4cn         1.925356     7.4442
139       5in         1.347722    10.6512
140       1cs         1.989645    10.0538
146       9cs         1.768451    13.9950
147       1cn         1.990431     4.6852
148      10cn         1.998876     5.2590
149       6cs         1.807361    11.1022
150       6in         1.128230     6.9052
153       5cn         1.736688     9.3166
154       1is         1.008838     6.8382
157      10is         1.997109     7.2388
160       2cn         1.593706     7.4286
163      10in         1.037546     6.2286
166       3in         1.026940     6.2274
168       7cn         1.991544     8.1260
170       7is         1.008183     6.7758
176       9is         1.317596     4.4642
181       4cs         1.725951     5.3900
182       7cs         1.995035     7.3688
184       8cs         1.776373    19.9620
185      10cs         1.884744     4.4876
188       4in         1.086909     2.9544
189       5cs         1.696687     9.9064
190       3cs         1.818992     4.5366
191       5is         1.331453     5.8500
193       7in         1.001506    10.0574
194       8is         1.396004     5.4400
195       9cn         1.612834     4.1102
199       9in         1.356800     3.6942
202       3is         1.938864    10.1228
203       8cn         1.596194     7.5880
204       6is         1.787513     6.0446
206       2cs         1.995024     7.0610
207       8in         1.365398     6.2364
208       4is         1.887723     6.3898

In [143]:
#不对 要先分四个condition再average
df_01_red_cs = df_01_red[df_01_red['file_name'].str.match(r'\d+[c][s]$')== True]
df_01_red_cs
# df_01_red_mean = df_01_red[['slider.response', 'rating_rt']].mean()
# df_01_red_mean

    file_name  slider.response  rating_rt
140       1cs         1.989645    10.0538
146       9cs         1.768451    13.9950
149       6cs         1.807361    11.1022
181       4cs         1.725951     5.3900
182       7cs         1.995035     7.3688
184       8cs         1.776373    19.9620
185      10cs         1.884744     4.4876
189       5cs         1.696687     9.9064
190       3cs         1.818992     4.5366
206       2cs         1.995024     7.0610

In [148]:
df_01_red_cs_mean = df_01_red_cs[['slider.response', 'rating_rt']].mean()
df_01_red_cs_mean

slider.response    1.845826
rating_rt          9.386340
dtype: float64

In [144]:
df_01_red_cn = df_01_red[df_01_red['file_name'].str.match(r'\d+[c][n]$')== True]
df_01_red_cn

    file_name  slider.response  rating_rt
132       6cn         1.572931    25.3714
134       3cn         1.869872    13.9592
138       4cn         1.925356     7.4442
147       1cn         1.990431     4.6852
148      10cn         1.998876     5.2590
153       5cn         1.736688     9.3166
160       2cn         1.593706     7.4286
168       7cn         1.991544     8.1260
195       9cn         1.612834     4.1102
203       8cn         1.596194     7.5880

In [149]:
df_01_red_cn_mean = df_01_red_cn[['slider.response', 'rating_rt']].mean()
df_01_red_cn_mean

slider.response    1.788843
rating_rt          9.328840
dtype: float64

In [145]:
df_01_red_is = df_01_red[df_01_red['file_name'].str.match(r'\d+[i][s]$')== True]
df_01_red_is

    file_name  slider.response  rating_rt
133       2is         1.808135    10.3966
154       1is         1.008838     6.8382
157      10is         1.997109     7.2388
170       7is         1.008183     6.7758
176       9is         1.317596     4.4642
191       5is         1.331453     5.8500
194       8is         1.396004     5.4400
202       3is         1.938864    10.1228
204       6is         1.787513     6.0446
208       4is         1.887723     6.3898

In [150]:
df_01_red_is_mean = df_01_red_is[['slider.response', 'rating_rt']].mean()
df_01_red_is_mean

slider.response    1.548142
rating_rt          6.956080
dtype: float64

In [146]:
df_01_red_in = df_01_red[df_01_red['file_name'].str.match(r'\d+[i][n]$')== True]
df_01_red_in

    file_name  slider.response  rating_rt
136       2in         1.299526    10.9136
137       1in         1.004932     4.7022
139       5in         1.347722    10.6512
150       6in         1.128230     6.9052
163      10in         1.037546     6.2286
166       3in         1.026940     6.2274
188       4in         1.086909     2.9544
193       7in         1.001506    10.0574
199       9in         1.356800     3.6942
207       8in         1.365398     6.2364

In [151]:
df_01_red_in_mean = df_01_red_in[['slider.response', 'rating_rt']].mean()
df_01_red_in_mean

slider.response    1.165551
rating_rt          6.857060
dtype: float64

In [156]:
cs_mean = df_01_red_cs_mean.tolist()
cn_mean = df_01_red_cn_mean.tolist()
is_mean = df_01_red_is_mean.tolist()
in_mean = df_01_red_in_mean.tolist()

In [158]:
rating_mean_list = [[cs_mean[0], cn_mean[0], is_mean[0], in_mean[0]]]
rt_mean_list = [[cs_mean[1], cn_mean[1], is_mean[1], in_mean[1]]]
mean_columns = ["cs", "cn", "is", "in"]

df_rating_red_mean = pd.DataFrame(rating_mean_list, columns=mean_columns)

In [159]:
df_rating_red_mean

         cs        cn        is        in
0  1.845826  1.788843  1.548142  1.165551

In [140]:
df_01_green = df_01_ratings[df_01_ratings['file_name'].str.match(r'(([1][1-9])|[2][0])[ci][sn]$')== True]
df_01_green

    file_name  slider.response  rating_rt
130      19cs         1.000000    29.1590
131      14in         1.524430    11.4154
135      16in         1.703856     9.3648
141      20in         1.802025     8.1398
142      17cn         1.000033    11.9144
143      12cs         1.157472    10.6728
144      18cs         1.184499    10.2628
145      16cn         1.188318     5.7182
151      18is         1.399714    14.2090
152      16cs         1.318392     9.0746
155      17is         1.004834    11.3828
156      13cn         1.285451     8.6802
158      17in         1.997720    14.2952
159      15cs         1.021724     7.0576
161      12in         1.514228     5.8566
162      20cs         1.031217     5.8118
164      20is         1.043111     9.6758
165      18cn         1.064279     9.5922
167      12cn         1.068283     3.7818
169      11in         1.971991     3.2418
171      19cn         1.007583     2.4876
172      11cn         1.036760     3.3406
173      17cs         1.004670     5.0752
174      14is         1.538528    11.4912
175      15is         1.658105     3.5900
177      13is         1.528937     4.2560
178      11cs         1.046439     8.1552
179      13in         1.598322    10.8892
180      15cn         1.064115     5.2762
183      11is         1.963382     3.8352
186      19in         1.990333     5.5612
187      20cn         1.086221     4.3562
192      13cs         1.400609     5.3812
196      14cn         1.395502     5.2424
197      18in         1.622349     4.8844
198      15in         1.889032     5.3772
200      19is         1.001168    11.2310
201      16is         1.298828     8.0078
205      14cs         1.374411     6.0402
209      12is         1.142174     7.0042

In [58]:
ratings = np.ndarray.tolist(df_ratings.unique())

In [59]:
ratings

[nan,
 1.0,
 1.5244304294692737,
 1.5729312150837989,
 1.808135474860335,
 1.869871682960894,
 1.703856057960894,
 1.2995264490223464,
 1.0049319134078212,
 1.9253557087988824,
 1.347721717877095,
 1.9896451641061448,
 1.8020251396648048,
 1.0000327339385475,
 1.157472067039106,
 1.1844993889664803,
 1.1883183484636872,
 1.768451030027933,
 1.990430778631285,
 1.9988761347765365,
 1.8073607716480449,
 1.128229748603352,
 1.399714123603352,
 1.3183921089385475,
 1.7366881983240223,
 1.0088381634078212,
 1.0048337115921788,
 1.2854508554469275,
 1.997108502094972,
 1.9977195356145248,
 1.0217244238826817,
 1.5937063547486034,
 1.5142283519553073,
 1.0312172660614525,
 1.0375458275139664,
 1.0431105970670391,
 1.0642785439944134,
 1.026940031424581,
 1.068282995810056,
 1.9915437325418996,
 1.9719906599162007,
 1.0081834846368716,
 1.0075833624301676,
 1.0367602129888267,
 1.0046700418994414,
 1.538527845670391,
 1.6581049231843576,
 1.3175955831005588,
 1.5289368016759777,
 1.0464385474860336,
 1.5983218400837989,
 1.064114874301676,
 1.725951466480447,
 1.9950353526536315,
 1.963381634078212,
 1.7763726431564246,
 1.8847438023743015,
 1.9903325768156424,
 1.0862211941340782,
 1.0869086068435754,
 1.6966873254189945,
 1.8189922311452515,
 1.3314529504189945,
 1.4006088512569832,
 1.0015057611731844,
 1.3960042772346368,
 1.6128338861731844,
 1.3955023568435754,
 1.6223485509776536,
 1.8890319483240223,
 1.3567999301675977,
 1.0011675104748603,
 1.298828125,
 1.9388639141061448,
 1.5961941340782122,
 1.787513093575419,
 1.3744107891061452,
 1.995024441340782,
 1.3653980446927374,
 1.887722590782123,
 1.142174406424581]

In [63]:
ratings = [rating for rating in ratings if not(math.isnan(rating)) == True]

In [65]:
len(ratings)

80